{% extends 'index.html' %}
{% load static %}
{% block Ads %}
    <div class="container m-auto">
        <div class="row m-auto">
            {% for houseAd in houses %}
                <div class="col-md-3 houseDiv">
                    <img src="{{houseAd.house_images.url}}" width="250px" height="150px"/>
                    <h4><img src="{% static 'img/map.svg' %}" alt="Bedrooms" width="24"> {{houseAd.address}}</h4>
                    <h6><img src="{% static 'img/bed.svg' %}" alt="Bedrooms" width="24"> {{houseAd.rooms}}</h6>
                    <h6><img src="{% static 'img/bath.svg' %}" alt="Bathrooms" width="24"> {{houseAd.bathrooms}}</h6>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}